# Ignore node_modules, as they are handled in the Dockerfile
node_modules
**/node_modules

# Ignore logs
logs
*.log

# Ignore local development files
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Ignore test reports
coverage
.nyc_output

# Ignore IDE and OS-specific files
.vscode
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Git files
.git
.gitignore
.gitattributes

# Docker files
Dockerfile
.dockerignore

# Other project files
.prettierignore
.prettierrc
eslint.config.js
maam.jsonl
README.md
.github/
node_modules
**/node_modules
dist
**/dist